<div class="flex items-center justify-center mt-8">
  <div class="relative flex w-11/12 h-64 flex-row rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
    <div class="relative m-0 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
      <%= image_tag position.company.logo, alt: "Logo da marca #{position.company.name}", class: 'h-64 w-96 object-cover' %>
    </div>
      <div class="p-6">
        <h6 class="mb-4 block font-sans text-base font-semibold uppercase leading-relaxed tracking-normal text-pink-500 antialiased">
          <%= position.name %>
        </h6>
        <h4 class="mb-4 block font-sans text-2xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
          <%= formatted_career_and_contract(position) %>
        </h4>
        <p class="mb-4 block font-sans text-base font-normal leading-relaxed text-gray-700 antialiased">
            A <%= position.name %> está em busca de um(a) veterinário(a) com especialidade em <%= "#{I18n.t('activerecord.attributes.position.careers')[position.career.to_sym]}" %> para atuar em sua unidade no <%= position.city %>.
        </p>
        <div class="flex justify-between items-center">
            <%= link_to "Ver mais", public_position_path(position.slug), class: 'flex select-none items-center gap-2 middle none center mr-4 rounded-lg bg-red-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none' %>
            <% if user_signed_in? %>   
              <% if !UserApplicantService.new(current_user.id, position.id).call %>
                <div class="flex justify-center items-center"> 
                  <%=  link_to "Candidatar-se",
                  new_applicant_path(position_id: position.id),
                  remote: true,
                  class: 'flex select-none items-center gap-2 middle none center mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none'
                  %>
                </div>
                <%#= link_to "Candidatar-se", public_position_path(position.slug), class: 'flex select-none items-center gap-2 middle none center mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none' %>
              <% end %>
            <% end %>
          <div class="flex justify-center items-center gap-5">
            <%= render partial: 'shared/social_network', locals: { position: position } %>
          </div>
        </div> 
      </div>
    </div>
</div>
