<section class="py-8 bg-[#f5f5f5]">
  <div class="container px-10 mx-auto flex justify-center">
    <div class="pb-16 pt-12 border border-dark-blue rounded-3xl w-10/12">
      <p class="text-3xl font-heading font-sourcesans font-medium pl-16">
        <% if action_name == 'show' %>
          <p class="text-center text-3xl font-heading font-sourcesans font-medium"> <%= @position.name %> </p>
        <% elsif action_name == 'edit' %>
          <p class="text-center text-3xl font-heading font-sourcesans font-medium"> Editar vaga </p>
        <% else %>
          <p class="text-center text-3xl font-heading font-sourcesans font-medium"> Publicar vaga </p>
        <% end %>
        </p>
        <div class="flex flex-wrap px-9 mb-8 md:mb-0 justify-center">
          <div class="mt-5 md:col-span-2 md:mt-0">
            <%= simple_form_for [@position], defaults: { disabled: action_name == 'show' }, remote: true do |f| %>
              <%= f.error_notification %>
              <div class="overflow-hidden">
                <div class="px-4 py-5 sm:p-6">
                  <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6">
                      <%= f.input :name,
                              placeholder: "Nome",
                              class: "block shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 bg-white focus:outline-none focus:ring-0 focus:border-blue-500 text-gray-400 leading-6 transition-colors duration-200 ease-in-out string optional"
                          %>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <%= f.input :career,
                              as: :select,
                              collection: @careers,
                              label_method: :second,
                              value_method: :first,
                              include_blank: false,
                              selected: @position.career,
                              class: "w-100 shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 bg-white focus:outline-none focus:ring-0 focus:border-blue-500 text-gray-400 leading-6 transition-colors duration-200 ease-in-out string optional"
                          %>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <%= f.input :contract,
                                  as: :select,
                                  collection: @contracts,
                                  label_method: :second,
                                  value_method: :first,
                                  include_blank: false,
                                  selected: @position.contract,
                                  class: "w-100 shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 bg-white focus:outline-none focus:ring-0 focus:border-blue-500 text-gray-400 leading-6 transition-colors duration-200 ease-in-out string optional"
                          %>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <%= f.input :remote %>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <%= f.input :publish %>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <%= f.input :city,
                              placeholder: "Cidade",
                              class: "shadow appearance-none border border-gray-300 rounded-md w-full py-2 px-3 bg-white focus:outline-none focus:ring-0 focus:border-blue-500 text-gray-400 leading-6 transition-colors duration-200 ease-in-out string optional"
                          %>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <%= f.input :state,
                            placeholder: "Estado",
                            class: "shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 bg-white focus:outline-none focus:ring-0 focus:border-blue-500 text-gray-400 leading-6 transition-colors duration-200 ease-in-out string optional"
                      %>
                    </div>
                    <div class="col-span-6 flex items-center"> 
                      <div data-controller="summary" 
                      class="flex-1 relative rounded-md shadow-sm">
                        <%= f.input :summary,
                              placeholder: "Resumo da vaga",
                              maxlength: 360,
                              input_html: { class: "count-textarea", rows: 4 },
                              class: "form-input py-2 px-3 block w-full leading-5 rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                        %>
                        <div id="the-count" class="absolute inset-y-5 right-0 pr-3 flex items-center pointer-events-none">
                          <span id="current" class="text-gray-500 text-sm">0</span>
                          <span id="maximum" class="text-gray-500 text-sm">/ 360</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-span-6">
                      <%=f.label :description, "Descrição", class: "block text-sm font-medium text-gray-600" %>
                      <%= f.rich_text_area :description,
                            placeholder: "Descrição da vaga",
                            class: "shadow appearance-none border border-gray-300 py-2 px-3 bg-white focus:outline-none focus:ring-0 focus:border-blue-500 text-gray-400 leading-6 transition-colors duration-200 ease-in-out string optional"
                      %>
                    </div>
                    
                      <% if action_name == 'show' %>
                        <%= link_to "EDITAR", edit_position_path(@position), class: "middle none center rounded-lg bg-orange-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-orange-500/20 transition-all hover:shadow-lg hover:shadow-orange-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" %>
                      <% else %>
                        <%= f.submit "SALVAR", class:"middle none center mr-4 rounded-lg bg-green-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" %>
                      <% end %>
                      <%= link_to "VOLTAR", positions_path(@position), class: "middle none center mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
