<section class="py-8 bg-[#f5f5f5] h-full">
  <div class="container px-10 mx-auto flex justify-center">
    <div class="pb-16 pt-12 border border-dark-blue rounded-3xl w-10/12">
      <p class="text-3xl font-heading font-sourcesans font-medium pl-16">
        <% if action_name == 'show' %>
          <p class="pl-16 text-3xl font-heading font-sourcesans font-medium"> Visualizar Empresa </p>
        <% elsif action_name == 'edit' %>
          <p class="pl-16 text-3xl font-heading font-sourcesans font-medium"> Editar Empresa </p>
        <% else %>
          <p class="pl-16 text-3xl font-heading font-sourcesans font-medium"> Cadastrar Empresa </p>
        <% end %>
      </p>
        <div class="flex flex-wrap px-9 mb-8 md:mb-0 justify-center">
          <div class="mt-5 md:col-span-2 md:mt-0" data-controller="visibility">
            <%= simple_form_for [:admin, @company], defaults: { disabled: action_name == "show" } do |f| %>
              <%= f.error_notification %>
              <div class="overflow-hidden">
                <div class="px-4 py-5 sm:p-6">
                  <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6">
                      <%= f.input :name,
                              placeholder: "Nome",
                              class: "block shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 bg-white focus:outline-none focus:ring-0 focus:border-blue-500 text-gray-400 leading-6 transition-colors duration-200 ease-in-out string optional"
                          %>
                    </div>

                    <div class="col-span-6">
                      <%= f.input :url,
                              placeholder: "URL",
                              class: "block shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 bg-white focus:outline-none focus:ring-0 focus:border-blue-500 text-gray-400 leading-6 transition-colors duration-200 ease-in-out string optional"
                          %>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <%= f.input :logo,
                              placeholder: "Logo",
                              class: "block shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 bg-white focus:outline-none focus:ring-0 focus:border-blue-500 text-gray-400 leading-6 transition-colors duration-200 ease-in-out string optional"
                          %>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                      <%= image_tag(@company.logo, class: "w-28") if @company.logo.attached? %>
                    </div>
                      <% if action_name == 'show' %>
                        <%= link_to "EDITAR", edit_admin_company_path(@company), class: "middle none center rounded-lg bg-orange-500 py-3 px-8 font-sans text-xs font-bold uppercase text-white shadow-md shadow-orange-500/20 transition-all hover:shadow-lg hover:shadow-orange-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" %>
                      <% else %>
                        <%= f.submit "SALVAR", class:"middle none center mr-4 rounded-lg bg-green-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" %>
                      <% end %>
                      <%= link_to "VOLTAR", admin_companies_path(@company), class: "middle none center mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
