<div class="bg-gray-100 flex justify-center items-center h-screen">
    <!-- Left: Image -->
  <div class="w-1/2 h-screen hidden lg:block">
    <img src="https://images.unsplash.com/photo-1536809188428-e8ecf663d0be?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTI2fHxjYWVzJTIwZmVsaXp8ZW58MHx8MHx8fDA%3D" alt="" class="object-cover h-full w-full">
  </div>
<!-- Right: Company Form -->
  <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
    <h1 class="text-2xl font-semibold mb-4 text-center">
        <%= @company.persisted? ? "Minha empresa" : "Cadastre sua empresa" %>
      </h1>
      <%= simple_form_for @company, remote: true do |f| %>
        <%= f.error_notification %>
        <div class="mb-4">
          <%= f.input :name, 
                      placeholder: "Nome da empresa",
                      class: "block text-sm py-3 px-4 rounded-lg w-full" 
          %>
        </div>
        <div class="mb-4">
          <%= f.input :url, 
                      placeholder: "Site da empresa", 
                      class: "block text-sm py-3 px-4 rounded-lg w-full" 
          %>
        </div>
        <%= image_tag(@company.logo, class: "w-28") if @company.logo.attached? %>
          <div class="mb-4">
            <%= f.input :logo, 
                        placeholder: "Logo da empresa",
                        class: "block text-sm py-3 px-4 rounded-lg w-full" 
            %>
          </div>
        <%= @company.persisted? ? f.button(:submit, "Atualizar empresa", class: "w-full bg-blue-500 text-white font-bold py-3 px-4 rounded-lg cursor-pointer") :
                                  f.button(:submit, "Cadastrar empresa", class: "w-full bg-blue-500 text-white font-bold py-3 px-4 rounded-lg cursor-pointer") 
        %>
      <% end %>
  </div>
</div>
