<!DOCTYPE html>
<html>
  <head>
    <title>Jobsforvets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'menus/admin_navbar' %>
    <%= render 'shared/flashes' %>

    <div class="flex">
      <%= render 'menus/admin_sidebar' %>
        <div class="w-full">
            <%= yield %>
        </div>
    </div>
     
     <%= render 'layouts/footer' %>
  </body>
</html>
