<!DOCTYPE html>
<html>
  <head>
    <title>Jobsforvets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </head>

  <body>
    <div id="flash">
      <%= render 'shared/flashes' %>
    </div>
    
    <div>
      <%= render 'shared/navbar' %>
    </div>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
